@page
@model HandsOnModel.Pages.GetAllModel
@{
}
<div>

    <form method="post">
        <table>
            <tr>
                 <td>ENTER ID</td>
                 <td><input type="number" asp-for=@Model.P.id /></td>
           </tr>
           <tr>
                <td>ENTER Name</td>
                <td><input type="text" asp-for=@Model.P.name /></td>
           </tr>
           <tr>
                <td>ENTER Price</td>
                <td><input type="number" asp-for=@Model.P.price /></td>
           </tr>
           <tr>
               <td> ENTER STOCK</td>
                <td><input type="number" asp-for=@Model.P.stock /></td>
           </tr>
           <tr>
               <td>
               <input type="submit" value="ADD" />
                </td>
           </tr>
</table>
    </form>

    <table class="table ">
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>PRICE</th>
                <th>STOCK</th>
            </tr>
        </thead>
        
            @foreach(var i in Model.List)
            {
                <tr>
                <td>@i.id</td>
                <td>@i.name</td>
                <td>@i.price</td>
                <td>@i.stock</td>
                </tr>
              
            }
      

</table>
</div>